@charset "UTF-8";

main {
    max-width: 600px;
    margin-top: 30px;
}

main h1{
    background-color: var(--cor3);
    color: var(--cor0);
    font-family: var(--fonte1);
    font-size: 3em;
    text-align: center;
    text-shadow: 4px 2px 8px rgba(0, 0, 0, 0.527);
    padding: 10px;
    border-radius: 50px;
}

section {
    background-color: var(--cor2);
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    padding: 25px;
    border-radius: 30px;
}

label {
    display: block;
    margin-bottom: 15px;
}

input {
    display: block;
    width: 100%;
    line-height: 25px;
    margin: auto;
    font-family: var(--fonte2);
    font-size: 1em;
    font-weight: bolder;
    text-indent: 5px;
}

#txtTelefone:invalid,
#txtEmail:invalid,
#txtQtdMesas:invalid {
    border-color: red;
}