@charset "UTF-8";

section {
    display: block;
    background-color: #f2c6a041;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px 0px 30px 0px;
}

.section_right {
    margin-right: 20px;
    max-width: 400px;
}

.section_left {
    margin-left: 20px;
    max-width: 400px;
}

section p {
    text-indent: 40px;
    padding: 15px;
    line-height: 30px;
    text-align: justify;
}

div {
    background-color: #f2c6a041;
    position: relative;
    max-width: 300px;
    max-height: 200px;
    height: 50vw;
    width: 60vw;
    margin: auto;
}

.container_image_right{
    margin-right: 25px;
}

.container_image_left{
    margin-left: 25px;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
}