@charset "UTF-8";

section {
    background-color: #f2c6a041;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
}

section p {
    text-indent: 40px;
    padding: 15px;
    line-height: 30px;
    text-align: justify;
}

#img_container_parallax {
    width: 98%;
    height: 50vh;
    margin: auto;
    background-image: url('../images/principal.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    box-shadow: inset 6px 6px 18px rgba(0, 0, 0, 0.479);
}